/* LIGHT THEME STYLES */
body.light-theme {
    background: #fff;
    color: #999999;
}

body.light-theme h1 {
    color: #111111;
}

/* DARK THEME STYLES */
body.dark-theme {
    background: #333333;
    color: #999999;
}

body.dark-theme h1 {
    color: #cccccc;
}

body.dark-theme figcaption {
    color: #cccccc;
}

body.dark-theme a:link {
    color: #999999;
}

body.dark-theme a:hover {
    color: #ccc;
}

body.dark-theme a.active {
    color: #ccc;
}

/* GENERAL STYLES */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

header {
    margin: 0 auto;
    max-width: 1570px;
    padding: 40px 30px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

header nav {
    display: flex;
    gap: 2rem;
}

header a {
    color: #aaaaaa;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
}

header .logo {
    font-size: 1.6rem;
    flex: 1;
}

footer {
    padding: 20px 0;
    text-align: center;
}

main {
    margin: 0 auto;
    max-width: 1570px;
}

section.intro {
    margin: 0 auto;
    max-width: 810px;
    padding-top: 130px;
    padding-bottom: 45px;
}

h1 {
    font-family: "Neuton", serif;
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
}

p {
    margin: 1.5rem 0 0;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.75rem;
}

figure {
    margin-bottom: 10px;
}

img {
    width: 100%;
    display: block;
    cursor: pointer;
}

img.fullscreen, .diptych img.fullscreen {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background: #333333;
    z-index: 999;
    cursor: pointer;
}

figcaption {
    padding:2px 0;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: right;
}

.diptych {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.diptych img {
    width: auto;
    height: auto;
    display: block;
}

.diptych .landscape50 {
    width: calc((100% - 10px) * 0.5);
    aspect-ratio: 3 / 2;
}

.diptych .landscape66 {
    width: calc((100% - 10px) * 9 / 13);
    aspect-ratio: 3 / 2;
}

.diptych .portrait33 {
    width: calc((100% - 10px) * 4 / 13);
    aspect-ratio: 2 / 3;
}