@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #3e3e3e;
    font-family: "Bebas Neue", "Helvetica Neue", sans-serif;
    color: #eee;
}

.naglowek-glowny {
    background-color: #2f2e2e;
    padding: 12px; 
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-weight: 400;
    font-style: normal;
    font-size: 0.6rem;
    text-transform: uppercase;
}

.kontener {
    width: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.przycisk {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.zdjecie-kontener {
    width: calc(100% - 80px);
    margin: 20px 40px;
    position: relative;
}

.zdjecie-kontener .zdjecie {
    width: 100%;
    max-width: 2600px;
    margin: auto;
    display: block;
    box-sizing: border-box;
    height: auto;
    border: 8px solid #eee;
}

.napis{
    position: absolute;
    bottom: 0;
    right: 1.4rem;
    margin: none;
    padding: none;
    font-size: min(2vw, 1.4rem);
    line-height: 1.4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}